<div class="todo-wrapper">
    <div class="todo-content">
        <h3>{{todo.title}}</h3>
        <div>{{todo.description}}</div>
        <div [ngClass]="{'close':todo.status === 'CLOSE' , 'open':todo.status === 'OPEN'}">{{todo.status}}</div>
    </div>

    <div class="btn-wrapper">
        <button mat-raised-button color="basic" (click)="updateTodoClicked(todo)" class="mat-button-default">Update</button>
        <button mat-raised-button color="warn" (click)="removeTodo(todo)" class="mat-button-default">Remove</button>
    </div>
</div>