.todo-wrapper {
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0px;
    padding: 10px;

    &:hover {
        background: #eee;
    }

    .todo-content {
        display: flex;
        flex-direction: column;

        .open,
        .close {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            width: 50px;
        }

        .close {
            color: black;
            background: rgb(106, 248, 201);
        }

        .open {
            color: white;
            background: rgb(248, 106, 106);

        }
    }

    .btn-wrapper {
        display: flex;
        justify-content: space-between;

        button {
            margin: 0px 5px;
        }
    }
}